main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.boxOne {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  background-color: red;
  justify-content: space-between;
  align-items: flex-start;
  height: 500px;
}
.boxTwo {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  background-color: blue;
  justify-content: space-between;
  align-items: flex-start;
  height: 500px;
}
.item {
  width: 400px;
  height: 200px;
  background-color: orange;
}
.full-width {
  width: 100%;
}
